<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="_dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    
    <ion-card-header>
      {{id}}
      <ion-card-subtitle>{{nombreEp}}  {{nombreDep}}</ion-card-subtitle>
      <ion-card-title>
        {{titulo}}
      </ion-card-title>
    </ion-card-header>
    <ion-button [href]="[urlPdf]"> <ion-icon name="document-text"></ion-icon> </ion-button>
  </ion-card>
  <ion-list  *ngFor="let anterior of referenciasAnteriores" style="background-color: transparent;">
        <ion-card>
          
          <ion-card-header>
            Referencias Anteriores
            <ion-card-subtitle>{{anterior.oposicion1.id}}</ion-card-subtitle>
            <ion-card-title>
              {{anterior.palabra}}  {{anterior.texto}}
            </ion-card-title>
          </ion-card-header>
          <ion-button [href]="[anterior.oposicion1.urlpdf]"> <ion-icon name="document-text"></ion-icon> </ion-button>
        </ion-card>
  </ion-list>
  <ion-list  *ngFor="let posterior of referenciasPosteriores" style="background-color: transparent;">
      <ion-card >
    
        <ion-card-header>
          Referencias Posteriores
          <ion-card-subtitle>{{posterior.oposicion.id}}</ion-card-subtitle>
          <ion-card-title>
            {{posterior.palabra}}  {{posterior.texto}}
          </ion-card-title>
        </ion-card-header>
        <ion-button [href]="[posterior.oposicion.urlpdf]"> <ion-icon name="document-text"></ion-icon> </ion-button>
      </ion-card>
</ion-list>
</ion-content>