<ion-menu content-id="main-content">
  
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-list-header>
        Navigate
      </ion-list-header>
      <ion-menu-toggle auto-hide="false">
        <ion-item button [routerLink]="['/oposiciones']">
          <ion-icon slot="start" name='home'></ion-icon>
          <ion-label >
            Oposiciones
          </ion-label>
        </ion-item>
        <ion-item button [routerLink]="['/departamentos']">
          <ion-icon slot="start" name='home'></ion-icon>
          <ion-label>
            Departamentos
          </ion-label>
        </ion-item>
        <ion-item button [routerLink]="['/epigrafes']">
          <ion-icon slot="start" name='home'></ion-icon>
          <ion-label>
            Epigrafes
          </ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>

